@mixin red-velvet-border ($border-redius : 20px) {
    border:2px dotted red;
    border-radius: $border-redius;
    padding: 10px;
}

body{
    main{
       p{
        @include red-velvet-border ;
        background-color: royalblue;
       } 
    }
    footer{
        @include red-velvet-border ;
        border-radius:5px ;
        background-color: royalblue;
    }
}