body{
    color: rgb(38, 104, 204);
    background-color: antiquewhite;
    font-family: sans-serif;
}

main{
    background-color: rgb(235, 44, 187);
}

main p{
    background-color: rgb(29, 34, 25);
}

main input{
    background-color: crimson;
}